@import '../layout/colors';
@import '../base/typography';


.btn {
    background-color: $btn-blue;
    color: #fff;
    border-radius: 10px;
    border: 4px;
    cursor: pointer;
    padding: 10px 20px 10px 20px;
    font-size: $btn-font-size;

}


