@import "../abstracts/variables";
@import "../mixins/mixins";

.card{
  width: 300px;
  height: auto;
  border-radius: $borderCard;
  @include boxShadow($shadow);


  .card-img{
    height: 200px;
    border-radius: $borderCard;
  }

  .card-title{
    font-family: "Montserrat";
    font-size: 25px;
    text-align: center;
    padding-top: 30px;
    font-weight: $weightTitleCard;
  }

  .card-p{
    font-family: "Montserrat";
    font-size: 15px;
    text-align: center;
    padding: 8px;
  }

  .card-btn-container{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
}

