@mixin grid {
    display: grid;
}

@mixin col-2 {
    width: calc(100% / 12) * 2;
    grid-template-columns: $grid-col;
    background-color: $grid-bg-color;
    border: $grid-border;
}

@mixin col-3 {
    width: calc(100% / 12) * 3;
    grid-template-columns: $grid-col;
    background-color: $grid-bg-color;
    border: $grid-border;
}

@mixin col-4 {
    width: calc(100% / 12) * 4;
    grid-template-columns: $grid-col;
    background-color: $grid-bg-color;
    border: $grid-border;
}

@mixin col-5 {
    width: calc(100% / 12) * 5;
    grid-template-columns: $grid-col;
    background-color: $grid-bg-color;
    border: $grid-border;
}

@mixin col {
    grid-template-columns: auto;
    width: calc(100% / 12);
    background-color: red;
    border: solid black 1px;
}



@mixin row {
    grid-template-rows: auto;
    width: 100%;
    height: auto;
    background-color: blue;
    display: flex;
    flex-wrap: wrap;
}